.box {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100vw;
    height: 100vh;
    align-content: center;
    justify-content: space-evenly;
    gap: 1rem;
    grid-auto-flow: column;
}

.centerWrapper {
    width: 200vw;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.appScreenClipWrapper {
    height: 100vh;
    width: 100vw;
}

.appScreenClipPositioner {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}