.container img {
  max-height: 500px;
}

@media (max-width: 1250px) {
  .container img {
    max-height: 400px;
  }
}

@media (max-width: 900px) {
  .container img {
    max-height: 300px;
  }
}

@media (max-width: 600px) {
  .container img {
    max-height: 200px;
  }
}

@media (max-width: 460px) {
  .container img {
    max-height: 100px;
  }
}
