.codeblock pre {
    border: 1px solid var(--border);
    border-radius: .375rem;
    font-size: .875em;
    font-weight: 400;
    line-height: 1.7142857;
    overflow-x: auto;
    padding-inline-end: 1.1428571em;
    padding-bottom: .8571429em;
    padding-top: .8571429em;
    padding-inline-start: 1.1428571em;
}